extends ../../layouts/main-layout.pug

block content
    section(class="filters" id="filters")
        .container 
            ul.filters__list 
                li.filters__item="По убыванию цены"
                li.filters__item="Все категории"
    section(class="products" id="products")
        .container
            .container
            .popular__group 
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"