extends ../layouts/main-layout.pug
    
block content
    section(class="news-slider" id="news_slider")
        .container
            #carousel
                .carousel__slides 
                .news-slider__slider-arrows 
                    .slider-control
                        div(class="slider-control__prev" data-cs-arrow="prev")
                            img(src="/assets/img/arrow.svg")
                        .slider-control__slide-info
                            span(class="slider-control__current" data-cs-counter="current")="1"
                            !=" / "
                            span(class="slider-control__total" data-cs-counter="total")="3"
                        div(class="slider-control__next" data-cs-arrow="next")
                            img(src="/assets/img/arrow.svg")
    section(class="catalog" id="catalog")
        .container
            .catalog__inner
                .catalog__grid 
                    .catalog__item
                        .catalog__item-inner
                            .catalog__text
                                h3.catalog__title="Диваны и кровати"
                                .catalog__price="от 7 999 ₽"
                                .catalog__link="Еще"
                                    span.catalog__link-arrow
                                        img(src="/assets/img/arrow.svg")
                            .catalog__image 
                                img(src="/assets/img/catalog1.png")
                    .catalog__item
                        .catalog__item-inner
                            .catalog__text
                                h3.catalog__title="Стулья и кресла"
                                .catalog__price="от 4 999 ₽"
                                .catalog__link="Еще"
                                    span.catalog__link-arrow
                                        img(src="/assets/img/arrow.svg")
                            .catalog__image 
                                img(src="/assets/img/catalog2.png")
                    .catalog__item
                        .catalog__item-inner
                            .catalog__text
                                h3.catalog__title="Столы и полки"
                                .catalog__price="от 2 999 ₽"
                                .catalog__link="Еще"
                                    span.catalog__link-arrow
                                        img(src="/assets/img/arrow.svg")
                            .catalog__image 
                                img(src="/assets/img/catalog3.png")
                    .catalog__item
                        .catalog__item-inner
                            .catalog__text
                                h3.catalog__title="Лампы и люстры"
                                .catalog__price="от 1 899 ₽"
                                .catalog__link="Еще"
                                    span.catalog__link-arrow
                                        img(src="/assets/img/arrow.svg")
                            .catalog__image 
                                img(src="/assets/img/catalog4.png")
    section(class="best-sales" id="best_sales")
        .container
            h2.best-sales__title="Лучшие продажи"
            .best-sales__product-group
                div(class="best-sales__product-item" data-aos="fade-right") 
                    .best-sales__product-image 
                        img(src="/assets/img/best1.png")
                    h6.best-sales__product-title="Кресло с деревянным каркасом"
                    .best-sales__product-price="2 999 ₽"
                div(class="best-sales__product-item" data-aos="fade-left") 
                    .best-sales__product-image 
                        img(src="/assets/img/best2.png")
                    h6.best-sales__product-title="Диван для гостинной"
                    .best-sales__product-price="2 999 ₽"
                div(class="best-sales__product-item" data-aos="fade-right") 
                    .best-sales__product-image 
                        img(src="/assets/img/best3.png")
                    h6.best-sales__product-title="Стильный современный светильник"
                    .best-sales__product-price="2 999 ₽"
                div(class="best-sales__product-item" data-aos="fade-left") 
                    .best-sales__product-image 
                        img(src="/assets/img/best4.png")
                    h6.best-sales__product-title="Обеденный стол из черного дерева"
                    .best-sales__product-price="2 999 ₽"
    section(class="discount" id="discount")
        .container
            .discount__content
                .discount__text
                    .discount__caption="При покупки мебели"
                    h2.discount__title="Супер скидка!"
                    .discount__subtitle="-10% на декор"
                    a(class="btn" href="#")="Подробнее"
    section(class="popular" id="popular")
        .container
            h2.popular__title="Популярные товары"
            .popular__group 
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"
                .popular__item
                    .popular__item-image
                        img(src="/assets/img/popular1.png")
                    h6.popular__item-title="Кресло с деревянной рамой"
                    .popular__item-price="5 320 ₽"    
    section(class="benefits" id="benefits")
        .container
            .benefits__group 
                .benefits__item="Бесплатная доставка"
                div(class="benefits__item benefits__separator")
                .benefits__item="Произвозство за 20 дней"
                div(class="benefits__item benefits__separator")
                .benefits__item="Гарантия качества"
    section(class="about" id="about")
        .container
            .about__inner
                h2.about__title="Отзывы"
                .about__content 
                    .about__content-avatar
                        img(src="/assets/img/avatar2.png")
                    .about__content-text
                        p.about__content-top-text="Выбрал этот магазин из-за привлекательной цены и не прогадал. После оформления заказа, перезвонили в течении 15 минут. Подтвердили заказ и договорились о дате. В день доставки курьер позвонил за час до приезда. Всё было доставлено в лучшем в виде. Впечатление от первого заказа в этом магазине только положительные. Рекомендую!"
                        .about__content-bottom-text
                            h6.about__content-name="Максим Иванов"
                            .about__content-occupation="Клиент"
                .about__slider-arrows
                    .slider-control 
                        .slider-control__prev
                            img(src="/assets/img/arrow.svg")
                        .slider-control__slide-info
                            span.slider-control__current="1"
                            !=" / "
                            span.slider-control__total="4"
                        .slider-control__next
                            img(src="/assets/img/arrow.svg")