html
    head 
        title="Roomie"
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body 
        header.header
            .container
                .header__inner
                    .header__logo
                        .header__logo-title
                            a(class="header__logo-link" href="/")
                                img(src="/assets/img/logo.png")
                    nav.header__nav
                        .header__nav-left
                            ul.header__nav-list 
                                li(class="header__nav-item header__nav-item_active")
                                    a(href="/" class="header__nav-link")="Главная"
                                li.header__nav-item
                                    a(href="/store.html" class="header__nav-link")="Магазин"
                                li.header__nav-item
                                    a(href="/about.html" class="header__nav-link")="О нас"
                                li.header__nav-item
                                    a.header__nav-link="Контакты"
                        .header__nav-right
                            ul.header__nav-list 
                                li.header__nav-item
                                    a.header__nav-link
                                        img(src="/assets/img/search.svg")
                                li.header__nav-item
                                    a.header__nav-link
                                        img(src="/assets/img/cart.svg")
        main.main
            block content
        footer.footer
            .container 
                .footer__inner
                    .footer__group
                        ul.footer__item
                            li.footer__item-logo
                                img(src="/assets/img/logo-footer.svg")
                            li.footer__item-text="Магазин современной мебели, аксессуаров и элементов интерьера. Широкий выбор моделей, трендовый дизайн, консультации специалистов, бесплатная доставка и накопительные скидки для постоянных клиентов. Лучший выбор 2021."
                        ul.footer__item
                            li.footer__item-title
                                h6="Информация"
                            li.footer__item-link
                                a(href="#")="Конфиденциальность"
                            li.footer__item-link
                                a(href="#")="Сроки и положения"
                            li.footer__item-link
                                a(href="#")="Доставка"
                            li.footer__item-link
                                a(href="#")="Оплата"
                        ul.footer__item
                            li.footer__item-title
                                h6="Контакты"
                            li.footer__item-link="+7 (978) 768-66-47"
                            li.footer__item-link="+7 (978) 766-02-01"
                            li.footer__item-link="info@roomie.ru"
                            li.footer__item-link="Севастополь, Хрусталёва 64А"
                        ul.footer__item
                            li.footer__item-title 
                                h6="Соцсети"
                            li.footer__item-link
                                a(href="#")="ВКонтакте"
                            li.footer__item-link
                                a(href="#")="Инстаграм"
                            li.footer__item-link
                                a(href="#")="Пинтерест"