extends ../../layouts/main-layout.pug

block content
    section(class="about-us" id="about_us")
        .container
            .about-us__top-banner
                img(src="/assets/img/top-banner.jpg")
            .about-us__title-wrap
                .about-us__caption="Несколько слов"
                h2.about-us__title="О магазине"
    section(class="contact-us" id="contact_us")
        .container
            .contact-us__inner
                .contact-us__left-image
                    img(src="/assets/img/about-text-image.jpg")
                .contact-us__right-text
                    
                        p.contact-us__text
                            | Магазин мебели и аксессуаров Roomie был основан в 2019 году. Благодаря широкому ассортименту товаров и квалифицированному обслуживанию клиентов мы стали одним из крупнейших интернет-магазинов мебели. Сегодня наш магазин готов предложить подборку мебели под любую задачу. У нас есть мебель как для жилых домов, так и для офисных помещений. Только качественная и брендовая мебель и аксессуары. 
                            br
                            br
                            |Если вам сложно выбрать подходящую мебель, перейдите в раздел «Контакты» и свяжитесь с нашими специалистами. Благодаря опыту мы можем посоветовать вам лучший вариант. Мы рады подобрать для вас мебель по подходящей вам цене."
                        a(href="" class="btn")="Связаться с нами"
    section(class="what-we-sell" id="what_we_sell")
        .container
            h2.what-we-sell__title="Что мы продаем"
            .what-we-sell_banner
                img(src="/assets/img/banner.png")
    section(class="benefits" id="benefits")
            .container
                .benefits__group 
                    .benefits__item="Бесплатная доставка"
                    div(class="benefits__item benefits__separator")
                    .benefits__item="Произвозство за 20 дней"
                    div(class="benefits__item benefits__separator")
                    .benefits__item="Гарантия качества"
    section(class="about" id="about")
        .container
            .about__inner
                h2.about__title="Наша команда"
                .about__content 
                    .about__content-avatar
                        img(src="/assets/img/avatar.jpg")
                    .about__content-text
                        p.about__content-top-text="Меня зовут Яна, и мне 25 лет. Я родом из Севастополя, живу здесь и занимаюсь любимым делом. По образованию я дизайнер объектов (objektu dizainers) – это предметы интерьера, аксессуары, мебель и всякая всячина, но я не ограничиваюсь только этим – стараюсь развиваться и в других направлениях."
                        .about__content-bottom-text
                            h6.about__content-name="Яна Петрова"
                            .about__content-occupation="Дизайнер"
                .about__slider-arrows
                    .slider-control 
                        .slider-control__prev
                            img(src="/assets/img/arrow.svg")
                        .slider-control__slide-info
                            span.slider-control__current="1"
                            !=" / "
                            span.slider-control__total="4"
                        .slider-control__next
                            img(src="/assets/img/arrow.svg")